.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  h1 {
    text-align: center;
  }
  
  .link-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .card-container {
    display: flex;
    flex-direction: row;
  }
  
  .card {
    margin-right: 10px;
  } 

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card a {
    background-color: #007bff;
    border-radius: 5px;
    color: white;
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
  }
  
  .card a:hover {
    background-color: #0069d9;
  }
  